#footer {
    position: relative;

    .name {
        position: relative;
        width: 50%;
        margin-left: 10%;
        margin-block: 2rem;

        img {
            position: relative;
            width: 100%;
        }

        @media screen and (max-width: map-get($breakpoints, sm)) {
            width: 80%;
        }
    }

    .content {
        position: relative;
        padding-left: 12%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 4rem;
        gap: 2rem;

        .contacts {
            position: relative;
            width: -moz-fit-content;
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-top: 2rem;

            .item {
                display: flex;
                align-items: center;
                color: $white;
                text-decoration: none;

                img {
                    transition: all 0.3s ease-in-out;
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                    object-position: center;
                }

                span {
                    margin-left: 3rem;
                }

                @media screen and (max-width: map-get($breakpoints, md)) {
                    span {
                        margin-left: 2rem;
                    }
                }

                @media screen and (max-width: map-get($breakpoints, sm)) {
                    span {
                        display: none;
                    }
                }
            }
        }

        .citations {
            position: relative;
            display: flex;
            flex-direction: column;
            width: calc(250px + 10vw);
            margin-right: 15vw;

            @media screen and (max-width: map-get($breakpoints, lg)) {
                margin-right: 10vw;
            }

            @media screen and (max-width: map-get($breakpoints, md)) {
                margin-right: 5vw;
            }

            .citation {
                position: relative;
                width: calc(100% - 10vw);
                color: $white;

                &:nth-child(2) {
                    margin-left: 10vw;
                    margin-top: 1rem;
                }

                .title {
                    text-transform: uppercase;
                    font-weight: normal;
                    margin-top: 0;
                }

                p {
                    margin-block: 0.5rem;
                }
            }
        }
    }

    .underFooter {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        color: $white;
        font-size: 14px;
        text-decoration: none;
        padding-left: 8%;
        padding-right: 5%;
        padding-top: 0.2rem;
        padding-bottom: 1rem;
        border-top: solid 1px $trasparent;

        @media screen and (max-width: map-get($breakpoints, md)) {
            font-size: 12px;
            gap: 1rem;
        }

        .underline {
            color: $white;
        }

        .links {
            display: flex;
            gap: 3rem;
            flex-shrink: 1;

            @media screen and (max-width: map-get($breakpoints, lg)) {
                gap: 2rem;
            }

            @media screen and (max-width: map-get($breakpoints, md)) {
                gap: 1rem;
            }

            @media screen and (max-width: map-get($breakpoints, sm)) {
            }
        }

        .arrowUp {
            background: none;
            border: none;
            outline: none;
            color: $white;
            display: flex;
            align-items: center;
            gap: 2rem;
            cursor: pointer;

            span {
                transition: all 0.3s ease-in-out;
                opacity: 0.8;
            }

            svg {
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                span {
                    opacity: 1;
                }
                svg {
                    transform: translateY(-5px);
                }
            }

            @media screen and (max-width: map-get($breakpoints, lg)) {
                gap: 1rem;
            }
            @media screen and (max-width: map-get($breakpoints, md)) {
                span {
                    display: none;
                }
            }
        }
    }
}
