$white: #fff;
$black: #090a0a;
$trasparent: rgba(140, 140, 140, 0.2);

$breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);

body {
    padding: 0;
    margin: 0;
    background-color: $black;
    font-family: system-ui;

    &.modalOpen {
        overflow: hidden;
    }
}

.underline {
    position: relative;
    padding-bottom: 4px;
    text-decoration: none;
    background: linear-gradient(90deg, $white, $white);
    background-size: calc(100% - 12px) 2px;
    background-position-x: 6px;
    background-position-y: calc(100% - 2px);
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-position-x: 0;
        background-size: 100% 2px;
    }
}

.modalImage {
    cursor: pointer;
}

#ImageModal {
    position: fixed;
    inset: 0;
    z-index: 100000;

    &:not(.active) {
        display: none;
    }

    .background {
        position: absolute;
        inset: 0;
        background-color: rgba($black, 0.6);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        cursor: pointer;
    }

    img {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: calc(100% - 2rem);
        max-height: calc(100% - 2rem);
    }
}
