#underText {
    position: relative;
    background-color: $white;
    padding-top: 4rem;

    .underText {
        display: block;
        width: 50%;
        max-width: 500px;
        margin-inline: auto;
    }

    #undertextBackgroundImage1 {
        position: relative;
        width: 35%;
        margin-block: 4rem;
        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;
    }

    #undertextBackgroundImage2 {
        position: absolute;
        right: 0;
        bottom: -25vw;
        width: 50%;
        z-index: 10;
        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;
    }
}
