$white: #fff;
$black: #090a0a;
$trasparent: rgba(140, 140, 140, 0.2);

body {
    padding: 0;
    margin: 0;
    background-color: $black;
    font-family: system-ui;
}

.underline {
    position: relative;
    padding-bottom: 4px;
    text-decoration: none;

    &::after {
        content: "";
        transition: all .3s ease-in-out;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: calc(100% - 12px);
        height: 2px;
        background-color: $white;
    }
}

#header {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        position: relative;
        margin-top: 5vw;
        margin-left: 13%;
        transform: translateX(-50%);

        img {
            position: relative;
            width: 80px;
            height: 80px;
            object-fit: contain;
        }
    }

    .burger {
        position: relative;
        margin-top: 5vw;
        margin-right: 13%;
        transform: translateX(50%);
        width: 45px;
        height: 40px;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        .burgerLine {
            position: relative;
            width: 100%;
            height: 10%;
            background-color: $white;
        }
    }
}

#topSection {
    position: relative;
    width: 100%;
    height: 100vh;

    .backgroundVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .name {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: auto;
    }

    .logo {
        position: absolute;
        top: 50%;
        width: 7%;
        height: auto;

        &.left {
            left: 13%;
            transform: translate(-50%, -50%);
        }

        &.right {
            right: 13%;
            transform: translate(50%, -50%);
        }
    }

    p {
        position: absolute;
        left: 50%;
        bottom: 12%;
        transform: translateX(-50%);
        width: 400px;
        max-width: 100%;
        color: $white;
        font-weight: 100;
    }

    .arrowDown {
        position: absolute;
        left: 50%;
        bottom: 3%;
        transform: translateX(-50%);
        color: $white;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

#afficheSection {
    position: relative;
    height: 100vh;
    padding-block: 6%;
    box-sizing: border-box;
    color: $white;
    display: flex;

    .backgroundImage {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        pointer-events: none;
    }

    .imageDiv {
        position: relative;
        width: 33.333%;
        height: 100%;

        .item {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 100%;
            object-fit: contain;
            object-position: center;

            &:not(.active) {
                display: none;
            }
        }
    }

    .descriptionDiv {
        position: relative;
        width: 33.333%;
        height: 100%;

        .item {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex;

            &:not(.active) {
                display: none;
            }

            h2 {
                text-transform: uppercase;
                font-size: 32px;
            }

            p {
                flex-grow: 1;
                overflow-y: auto;
            }

            .secondaryImages {
                position: relative;
                display: flex;
                gap: .8rem;

                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                }
            }
        }
    }

    .listDiv {
        position: relative;
        width: 33.333%;
        height: 100%;

        .afficheCarousel {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            -webkit-user-select: none;
            user-select: none;
            width: -moz-fit-content;
            width: fit-content;

            .swiper-wrapper {
                .swiper-slide {
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            .afficheCarousel-button {
                position: absolute;
                width: 100%;
                color: $white;
                z-index: 2;
                cursor: pointer;
                text-align: center;

                &.afficheCarousel-button-prev {
                    top: 0;
                    background: linear-gradient(#000, #0000);
                }

                &.afficheCarousel-button-next {
                    bottom: 0;
                    background: linear-gradient(#0000, #000);
                }
            }
        }
    }
}

#logos {
    position: relative;
    border-block: solid 1px $trasparent;

    .swiper.logoCarousel {
        position: relative;
        width: 100%;

        .swiper-wrapper {

            .swiper-slide {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

#book {
    position: relative;
    overflow: hidden;

    .backgroundImage {
        position: absolute;
        left: 50%;
        top: 5rem;
        transform: translateX(-50%);
        width: 65%;
        height: auto;
        object-fit: contain;
        object-position: center;
        pointer-events: none;
    }

    .arc {
        transition: all .1s;
        position: absolute;
        left: 50%;
        top: 250px;
        transform: translateX(-50%);
        width: 100%;
        pointer-events: none;
    }

    .content {
        transition: all .1s;
        position: relative;
        top: 350px;
        width: 100%;
        min-height: 100vh;

        .logo {
            position: relative;
            display: block;
            margin-inline: auto;
            width: 200px;
            height: 200px;
            object-fit: contain;
            object-position: center;
        }

        .window {
            position: relative;
            height: 600px;
            display: block;
            margin-inline: auto;
            opacity: .5;
        }

        .book {
            transform-style: preserve-3d;
            transform: rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
            transition: transform 1s;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 10%;
            margin: auto;
            width: 30em;
            height: 40em;

            .side {
                width: 3em;
                height: 40em;
                background: #b36060;
                position: absolute;
                left: -3em;
                top: 0;
                transform-origin: 100% 100%;
                transform: rotateY(-90deg) rotateX(0deg);
            }

            .bottom {
                width: 25em;
                height: 3em;
                background: #e2e2e2;
                position: absolute;
                bottom: 0;
                left: 0;
                transform-origin: 100% 100%;
                transform: rotateX(90deg);
            }

            &.open {
                transform: rotateX(35deg) rotateY(0deg) rotateZ(-35deg);
            }

            .paper {
                width: 25em;
                height: 40em;
                position: absolute;
                top: 0;
                left: 0;
            }

            .paper {
                transition: transform 1s, box-shadow 0.5s 0.2s;
                transform-origin: 0 50%;
                transform-style: preserve-3d;

                &.open {
                    box-shadow: 2.2em 1em 0px 0px #ccc3a9;
                    transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
                }

                .page.front {
                    transition: transform 1s;
                    transform-origin: 0 50%;
                    backface-visibility: hidden;
                    z-index: 2;
                }
            }

            .page {
                width: 100%;
                height: 100%;
                position: absolute;
                -webkit-transform: translateZ(0px);
                transform: translateZ(0px);
            }

            .first .page {
                background: #ef9a9a;
            }

            .first .page.front:after {
                position: absolute;
                content: "";
                width: 50%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(160, 115, 115, 0.1);
            }

            .paper .back {
                transition: transform 1s;
                transform-origin: 0 50%;
                background: #e1e1e1;
            }

            .first.paper .back {
                background: #ef9a9a;
            }

            .intro {
                position: absolute;
                width: 90%;
                width: calc(100% - 3em);
                height: 90%;
                height: calc(100% - 3em);
                border: 2em solid #eee;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }

            .paper:not(.first) .page {
                background: #f1f1f1;
                background-image: linear-gradient(90deg,
                        transparent 40px,
                        #abced4 40px,
                        #abced4 42px,
                        transparent 42px),
                    linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
                background-size: 100% 1.5em;
            }

            .paper:not(.first) .back {
                background: #e1e1e1;
            }

            .open.second .back {
                transform: translateZ(-1px);
            }

            .open.third .back {
                transform: translateZ(-2px);
            }

            .paper.first {
                z-index: 8;
            }

            .paper.second {
                z-index: 7;
            }

            .paper.third {
                z-index: 6;
            }

            .paper.fourth {
                z-index: 5;
            }

            .paper.first .front {
                transform: translateZ(0.4px);
            }

            .paper.second .front {
                transform: translateZ(0.3px);
            }

            .paper.third .front {
                transform: translateZ(0.2px);
            }

            .paper.fourth .front {
                transform: translateZ(0.1px);
            }

            .second-page #vara-container {
                width: 100%;
                height: 100%;
                padding: 1em;
            }
        }
    }
}

#underText {
    position: relative;
    background-color: $white;
    padding-top: 4rem;

    .underText {
        display: block;
        width: 50%;
        margin-inline: auto;
    }

    .backgroundImage1 {
        position: relative;
        width: 35%;
        margin-block: 4rem;
    }

    .backgroundImage2 {
        position: absolute;
        right: 0;
        top: 100%;
        transform: translateY(-50%);
        width: 50%;
        z-index: 10;
    }
}

#footer {
    position: relative;

    .name {
        position: relative;
        width: 50%;
        margin-left: 10%;

        img {
            position: relative;
            width: 100%;
        }
    }

    .content {
        position: relative;
        padding-left: 12%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 4rem;

        .contacts {
            position: relative;
            width: -moz-fit-content;
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-top: 2rem;

            .item {
                display: flex;
                align-items: center;
                color: $white;
                text-decoration: none;

                img {
                    transition: all .3s ease-in-out;
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                    object-position: center;
                }

                span {
                    margin-left: 3rem;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }

                    span::after {
                        width: calc(50% - 12px);
                        left: 0;
                        transform: translateX(0%);
                    }
                }
            }
        }

        .citations {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .citation {
                position: relative;
                width: 250px;
                color: $white;

                &:nth-child(1) {
                    margin-right: 25vw;
                }

                &:nth-child(2) {
                    margin-right: 15vw;
                    margin-top: 1rem;
                }

                .title {
                    text-transform: uppercase;
                    font-weight: normal;
                    margin-top: 0;
                }

                p {
                    margin-block: .5rem;
                }
            }
        }
    }

    .underFooter {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        text-decoration: none;
        padding-left: 8%;
        padding-right: 5%;
        padding-top: .2rem;
        padding-bottom: 1rem;
        border-top: solid 1px $trasparent;

        .underline {
            color: $white;

            &:hover::after {
                width: calc(50% - 12px);
            }
        }

        .links {
            display: flex;
            gap: 3rem;
        }

        .arrowUp {
            background: none;
            border: none;
            outline: none;
            color: $white;
            display: flex;
            align-items: center;
            gap: 4rem;
            cursor: pointer;

            svg {
                transition: all .3s ease-in-out;
            }

            &:hover {
                svg {
                    transform: translateY(-5px);
                }
            }
        }
    }
}