body {
  padding: 0;
  margin: 0;
  background-color: #090a0a;
  font-family: system-ui;
}
body.modalOpen {
  overflow: hidden;
}

.underline {
  position: relative;
  padding-bottom: 4px;
  text-decoration: none;
  background: linear-gradient(90deg, #fff, #fff);
  background-size: calc(100% - 12px) 2px;
  background-position-x: 6px;
  background-position-y: calc(100% - 2px);
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
.underline:hover {
  background-position-x: 0;
  background-size: 100% 2px;
}

.modalImage {
  cursor: pointer;
}

#ImageModal {
  position: fixed;
  inset: 0;
  z-index: 100000;
}
#ImageModal:not(.active) {
  display: none;
}
#ImageModal .background {
  position: absolute;
  inset: 0;
  background-color: rgba(9, 10, 10, 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  cursor: pointer;
}
#ImageModal img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
}

#header {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .logo {
  position: relative;
  margin-top: 5vw;
  margin-left: 13%;
  transform: translateX(-50%);
}
#header .logo img {
  position: relative;
  width: 80px;
  height: 80px;
  object-fit: contain;
}
#header .burger {
  position: relative;
  margin-top: 5vw;
  margin-right: 13%;
  transform: translateX(50%);
  width: 40px;
  height: 35px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
#header .burger .burgerLine {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #fff;
}

#topSection {
  position: relative;
  width: 100%;
  height: 100vh;
}
#topSection .backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#topSection .name {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
}
@media screen and (max-width: 576px) {
  #topSection .name {
    width: 90%;
    top: 40%;
  }
}
#topSection .logo {
  position: absolute;
  top: 50%;
  width: 80px;
  height: 80px;
  object-fit: contain;
  object-position: center;
}
#topSection .logo.left {
  left: 13%;
  transform: translate(-50%, -50%);
}
#topSection .logo.right {
  right: 13%;
  transform: translate(50%, -50%);
}
@media screen and (max-width: 576px) {
  #topSection .logo {
    top: 60%;
  }
}
#topSection p {
  position: absolute;
  left: 50%;
  bottom: 12%;
  transform: translateX(-50%);
  width: 400px;
  max-width: 90%;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
}
@media screen and (max-width: 576px) {
  #topSection p {
    font-size: 14px;
  }
}
#topSection .arrowDown {
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  color: #fff;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#afficheSection {
  position: relative;
  min-height: 100vh;
  margin-block: 4rem;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  gap: 2rem;
  margin-inline: 2rem;
}
@media screen and (max-width: 768px) {
  #afficheSection {
    min-height: unset;
  }
}
#afficheSection .backgroundImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
#afficheSection .imageDiv {
  position: relative;
  flex: 2 1 0;
}
@media screen and (max-width: 768px) {
  #afficheSection .imageDiv {
    display: none;
  }
}
#afficheSection .imageDiv .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
#afficheSection .imageDiv .item:not(.active) {
  display: none;
}
#afficheSection .descriptionDiv {
  position: relative;
  flex: 3 1 0;
}
#afficheSection .descriptionDiv .item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex;
}
#afficheSection .descriptionDiv .item:not(.active) {
  display: none;
}
#afficheSection .descriptionDiv .item h2 {
  text-transform: uppercase;
  font-size: 32px;
}
#afficheSection .descriptionDiv .item .mainImage {
  display: none;
  width: 80%;
  height: auto;
}
@media screen and (max-width: 768px) {
  #afficheSection .descriptionDiv .item .mainImage {
    display: block;
  }
}
#afficheSection .descriptionDiv .item p {
  flex-grow: 1;
  overflow-y: auto;
}
#afficheSection .descriptionDiv .item .secondaryImages {
  position: relative;
  display: flex;
  gap: 0.8rem;
  margin-top: 2rem;
}
#afficheSection .descriptionDiv .item .secondaryImages img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  #afficheSection .descriptionDiv .item .secondaryImages img {
    width: 80px;
    height: 80px;
  }
}
#afficheSection .listDiv {
  position: relative;
  flex: 1 1 0;
}
#afficheSection .listDiv .afficheCarousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 150px;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
}
#afficheSection .listDiv .afficheCarousel .swiper-wrapper .swiper-slide {
  height: auto;
  cursor: pointer;
}
#afficheSection .listDiv .afficheCarousel .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
#afficheSection .listDiv .afficheCarousel .afficheCarousel-button {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 2;
  cursor: pointer;
  text-align: center;
}
#afficheSection .listDiv .afficheCarousel .afficheCarousel-button.afficheCarousel-button-prev {
  top: 0;
  background: linear-gradient(#000, rgba(0, 0, 0, 0));
}
#afficheSection .listDiv .afficheCarousel .afficheCarousel-button.afficheCarousel-button-next {
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), #000);
}

#logos {
  position: relative;
  border-block: solid 1px rgba(140, 140, 140, 0.2);
  overflow-x: hidden;
}
#logos ul {
  position: relative;
  width: max-content;
  display: flex;
  gap: 1rem;
  padding: 0;
  animation: scroll 20s forwards linear infinite;
}
#logos ul li {
  position: relative;
  width: 100px;
  height: 100px;
  list-style: none;
}
#logos ul li img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
@media screen and (max-width: 768px) {
  #logos ul {
    margin-block: 0.5rem;
  }
  #logos ul li {
    width: 80px;
    height: 80px;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
#book {
  position: relative;
  overflow: hidden;
}
#book .backgroundImage {
  position: absolute;
  left: 50%;
  top: 5rem;
  transform: translateX(-50%);
  width: 65%;
  height: auto;
  object-fit: contain;
  object-position: center;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
#book .arc {
  transition: all 0.1s;
  position: absolute;
  left: 50%;
  top: calc(5rem + 16.25vw);
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
#book .arc::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1000px;
  background-color: #fff;
}
#book .content {
  transition: all 0.1s;
  position: relative;
  padding-top: calc(5rem + 16.25vw + 100px);
  width: 100%;
  min-height: 100vh;
  margin-bottom: -200px;
}
#book .content::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 600px;
  background-color: #fff;
}
#book .content .logo {
  position: relative;
  display: block;
  margin-inline: auto;
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
#book .content .window {
  position: relative;
  height: 600px;
  display: block;
  margin-inline: auto;
  opacity: 0.5;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
#book .content .book {
  position: absolute;
  left: 50%;
  bottom: 250px;
  transform-style: preserve-3d;
  transform: translate(-65%, 50%) rotateX(45deg) rotateY(0deg) rotateZ(-45deg);
  width: 800px;
  max-width: 95%;
  aspect-ratio: 1.4142/0.5;
  transition: all 1s;
}
#book .content .book.open {
  width: min(90%, 1000px);
  transform: translate(-52%, 45%) rotateX(25deg) rotateY(0deg) rotateZ(-20deg);
}
#book .content .book .paper {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  transition: 0.7s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: left;
}
#book .content .book .paper figure {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-size: 200%;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
#book .content .book .paper figure.front {
  background-position: right;
}
#book .content .book .paper figure.back {
  background-position: left;
  transform: rotateY(180deg);
}
#book .content .book .paper figure img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}
#book .content .book .paper.last {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  clip-path: inset(-30px -30px 0 0);
}
#book .content .book .paper.flip {
  transform: rotateY(-160deg);
}
#book .content .book .paper.flip.first {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}
#book .content .book .side {
  position: absolute;
  left: calc(50% - 3em);
  top: 0;
  width: 3em;
  height: 100%;
  transform-origin: 100% 100%;
  transform: rotateY(-90deg) rotateX(0deg);
  background: #333;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  clip-path: inset(-30px 0 0 -30px);
}
#book .content .book .bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 3em;
  transform-origin: 100% 100%;
  transform: rotateX(90deg);
  background: #e2e2e2;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  clip-path: inset(-30px -30px 0 0);
}
@media screen and (max-width: 768px) {
  #book .content .book.open {
    width: 95%;
  }
  #book .content .book .side {
    left: calc(50% - 2em);
    width: 2em;
  }
  #book .content .book .bottom {
    height: 2em;
  }
}
#book .content .pdfDownload {
  position: absolute;
  right: 6%;
  bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #090a0a;
}
#book .content .pdfDownload:hover span {
  text-decoration: underline;
}

#underText {
  position: relative;
  background-color: #fff;
  padding-top: 4rem;
}
#underText .underText {
  display: block;
  width: 50%;
  max-width: 500px;
  margin-inline: auto;
}
#underText .backgroundImage1 {
  position: relative;
  width: 35%;
  margin-block: 4rem;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
#underText .backgroundImage2 {
  position: absolute;
  right: 0;
  bottom: -25vw;
  width: 50%;
  z-index: 10;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

#footer {
  position: relative;
  overflow: hidden;
}
#footer .backgroundImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center left;
}
#footer .name {
  position: relative;
  width: 50%;
  margin-left: 10%;
  margin-block: 2rem;
}
#footer .name img {
  position: relative;
  width: 100%;
}
@media screen and (max-width: 576px) {
  #footer .name {
    width: 80%;
  }
}
#footer .content {
  position: relative;
  padding-left: 12%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  gap: 2rem;
}
#footer .content .contacts {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
#footer .content .contacts .item {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  height: 60px;
}
#footer .content .contacts .item img {
  transition: all 0.3s ease-in-out;
  width: 80px;
  height: 80px;
  object-fit: contain;
  object-position: center;
}
#footer .content .contacts .item span {
  margin-left: 2rem;
}
@media screen and (max-width: 768px) {
  #footer .content .contacts .item span {
    margin-left: 1rem;
  }
}
@media screen and (max-width: 576px) {
  #footer .content .contacts .item span {
    display: none;
  }
}
#footer .content .citations {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(250px + 10vw);
  margin-right: 15vw;
}
@media screen and (max-width: 992px) {
  #footer .content .citations {
    margin-right: 10vw;
  }
}
@media screen and (max-width: 768px) {
  #footer .content .citations {
    margin-right: 5vw;
  }
}
#footer .content .citations .citation {
  position: relative;
  width: calc(100% - 10vw);
  color: #fff;
}
#footer .content .citations .citation:nth-child(2) {
  margin-left: 10vw;
  margin-top: 1rem;
}
#footer .content .citations .citation .title {
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0;
}
#footer .content .citations .citation p {
  margin-block: 0.5rem;
}
#footer .underFooter {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  padding-left: 8%;
  padding-right: 5%;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
  border-top: solid 1px rgba(140, 140, 140, 0.2);
}
@media screen and (max-width: 768px) {
  #footer .underFooter {
    font-size: 12px;
    gap: 1rem;
  }
}
#footer .underFooter .underline {
  color: #fff;
}
#footer .underFooter .links {
  display: flex;
  gap: 3rem;
  flex-shrink: 1;
}
@media screen and (max-width: 992px) {
  #footer .underFooter .links {
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  #footer .underFooter .links {
    gap: 1rem;
  }
}
#footer .underFooter .arrowUp {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
#footer .underFooter .arrowUp span {
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}
#footer .underFooter .arrowUp svg {
  transition: all 0.3s ease-in-out;
}
#footer .underFooter .arrowUp:hover span {
  opacity: 1;
}
#footer .underFooter .arrowUp:hover svg {
  transform: translateY(-5px);
}
@media screen and (max-width: 992px) {
  #footer .underFooter .arrowUp {
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  #footer .underFooter .arrowUp span {
    display: none;
  }
}

/*# sourceMappingURL=theme.css.map */
